body {
  background: #f3f3f3;
}
.person {
  height: 10rem;
  background: url(../asstes/images/card-bg.jpg) center no-repeat;
  background-size: 100% 100%;
}
.person .person-info {
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1.6rem;
}
.person .person-info .person-tx {
  width: 3rem;
}
.person .person-info .person-tx img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.person .person-info .info {
  width: 8rem;
  margin-left: 0.8rem;
}
.person .person-info .info div {
  color: #fff;
}
.person .person-info .info .grade i {
  font-size: 0.6rem;
  color: #fff;
}
.person .person-info .info .tab-icon {
  height: 0.64rem;
  width: 1.6rem;
  display: inline-block;
  border-radius: 0.2rem;
  background: #fff;
  line-height: 0.64rem;
  text-align: center;
  font-size: 0.6rem;
  color: #2f64ee;
}
.person .person-info .info .already {
  font-size: 0.6rem;
}
.person .person-info .info .progress-wraper {
  position: relative;
}
.person .person-info .info .progress-wraper .progress-all {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7.5rem;
  border-radius: 0.2rem;
  height: 0.14rem;
  background: rgba(255, 255, 255, 0.5);
}
.person .person-info .info .progress-wraper .progress-true {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  border-radius: 0.2rem;
  height: 0.14rem;
  background: #ffffff;
}
.person .person-info .row {
  height: 1.5rem;
  line-height: 1.5rem;
}
.person .person-b {
  background: rgba(0, 0, 0, 0.35);
  height: 2rem;
  margin-top: 2rem;
}
.person .person-b .person-box {
  width: 50%;
  height: 2rem;
  padding: 0.28rem 1rem;
  line-height: 2rem;
}
.person .person-b .person-box p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 4.38rem;
  height: 0.74rem;
  color: #fff;
  font-size: 0.5rem;
  line-height: 0.7rem;
  text-indent: 0.3rem;
}
.person .person-b .person-box .fa-bookmark-o {
  font-size: 1.5rem;
  color: #fff;
}
.person .person-b .person-box:first-child {
  border-right: 1px solid #ccc;
}
.header-wraper {
  height: 2rem;
  padding: 0 0.5rem;
}
.header-wraper .header {
  line-height: 2rem;
  text-align: center;
  color: #fff;
}
.header-wraper .header .back {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0;
}
.header-wraper .header .back a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
}
.header-wraper .header .back a i {
  color: #fff;
}
nav {
  margin: 0.5rem 0;
  background: #fff;
}
nav .border-r {
  border-right: 1px solid #eee;
}
nav .border-b {
  border-bottom: 1px solid #eee;
}
nav li {
  float: left;
  width: 33.333333333%;
  height: 3.4rem;
  text-align: center;
  padding: 0.1rem 0;
}
nav li i {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
  background: url(../images/nav-icon.png) center no-repeat;
  background-size: cover;
}
nav li p {
  font-size: 0.55rem;
}
nav .home-info i {
  background-position: 0 0;
}
nav .home-grade i {
  background-position: -2rem 0;
}
nav .home-bill i {
  background-position: -4rem 0;
}
nav .coupon-center i {
  background-position: -6rem 0;
}
nav .my-coupon i {
  background-position: -8rem 0;
}
nav .my-wallet i {
  background-position: -10rem 0;
}
.activity .title {
  padding: 0.3rem 0.6rem;
  background: #fff;
}
.activity .title div {
  font-size: 0.55rem;
  line-height: 1rem;
}
.activity .title .fa-clock-o {
  color: #ff825c;
  font-size: 0.7rem;
}
.activity .title a {
  font-size: 0.55rem;
  color: #2c82fd;
}
.activity .title .fa-angle-right {
  color: #2c82fd;
  font-size: 0.8rem;
}
.adver img {
  height: 4.8rem;
  width: 100%;
}
